# ðŸ”¹ 5. SQL Queries (Assuming Table Name = products)
##  A. Top 5 Most Expensive Products

In [ ]:
SELECT product_title, product_price
FROM products
ORDER BY product_price DESC
LIMIT 5;

## B. Average Rating by Country

In [ ]:
SELECT country, AVG(product_star_rating) AS avg_rating
FROM products
GROUP BY country
ORDER BY avg_rating DESC;

## C. Count of Products per Country

In [ ]:
SELECT country, COUNT(*) AS product_count
FROM products
GROUP BY country;